.admin-container {
    .nav-column {
      background-color: #f8f9fa;
      padding: 20px;
      .logo-container {
        text-align: center;
        margin-bottom: 30px;
        .logo2 {
          width: 80px;
        }
        .logo-text {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      .custom-nav-pills {
        .nav-link {
          font-size: 0.9em; /* Make the font size smaller */
          padding: 10px 15px; /* Adjust padding */
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for animation */
          
          i {
            margin-right: 10px; /* Space between icon and text */
          }
  
          &:hover {
            background-color: #007bff;
            color: #fff;
          }
          &.active {
            background-color: #007bff;
            color: #fff;
          }
        }
      }
      .logout-container {
        margin-top: 30px;
        text-align: center;
        .logout-button {
          width: 100%;
        }
      }
    }
    .tab-content-container {
      padding: 20px;
      .tab-pane {
        transition: opacity 0.5s ease-in-out; /* Add transition for tab content animation */
        &.fade {
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
    }
  }
  